# Final Project Title
## Brendan, Nathan, Yash, Rennie

## Introduction
### We want to find the most optimal deck in terms of win rate. We will do this by looking at both individual cards and decks. We will analyze cards based on rarity and elixer and decks based on average elixer and deck composition in terms of types of cards.

## Data Collection/Curation
### We got this data from Kaggle. Provide link to kaggle site. These datasets include ... . Describe the process of adding relevant information to card_list including type of card, rarity, elixer cost, if its flying, if it spawns units etc.

## Data management/representation

### Discuss reading data into pandas
### Discuss creating a dataframe that contains each deck and information about the deck
### Discuss creating a dataframe that contains each card and information about the card

In [4]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from collections import defaultdict
from collections import Counter
from sklearn.model_selection import train_test_split

data_games = pd.read_csv("data_ord.csv")
data_cards = pd.read_csv("cardlist.csv")

In [13]:
# Card Section

cards_winning = {}
cards_winning = defaultdict(lambda:0, cards_winning)
cards_general = {}
cards_general = defaultdict(lambda: 0, cards_general)
most_common = 0 
maximum = 0 

def get_card_occurence(cards_used, outcome): 
    global card_general
    global cards_winning
    i = 0 
    for card in cards_used:
        cards_general[card] = cards_general[card] + 1
        if outcome == 1 and i < 8:
            cards_winning[card] = cards_winning[card] + 1
        elif outcome == 2 and i >= 8: 
            cards_winning[card] = cards_winning[card] + 1
    
lst = []
data_games.apply(lambda x: get_card_occurence([x["p1card1"],x["p1card2"],x["p1card3"],x["p1card4"],x["p1card5"],x["p1card6"],x["p1card7"],x["p1card8"],x["p2card1"],x["p2card2"],x["p2card3"],x["p2card4"],x["p2card5"],x["p2card6"],x["p2card7"],x["p2card8"]],x["outcome"]), axis=1)

data_cards = pd.DataFrame.from_dict([cards_general]).transpose().reset_index()
data_cards

     index       0
0        8   45795
1       34   66651
2       37  215819
3       52   45047
4       69   62900
..     ...     ...
101     79    5542
102     24   53761
103     61   37426
104    100   23811
105     67   13071

[106 rows x 2 columns]

In [14]:
# Deck Section
# Extracting interesting deck data
dict_decks_general = {} 
dict_decks_general = defaultdict(lambda:0,dict_decks_general)
dict_decks_winning_only = {} 
dict_decks_winning_only = defaultdict(lambda:0,dict_decks_winning_only)
def get_decks(p1_deck,p2_deck,result):
    global dict_decks_general
    global dict_decks_winning_only
    dict_decks_general[p1_deck] = dict_decks_general[p1_deck] + 1
    dict_decks_general[p2_deck] = dict_decks_general[p2_deck] + 1
    if(result == 1):
        dict_decks_winning_only[p1_deck] = dict_decks_winning_only[p1_deck] + 1
    else:
        dict_decks_winning_only[p2_deck] = dict_decks_winning_only[p2_deck] + 1
        
data_games.apply(lambda x: get_decks((x["p1card1"],x["p1card2"],x["p1card3"],x["p1card4"],x["p1card5"],x["p1card6"],x["p1card7"],x["p1card8"]),(x["p2card1"],x["p2card2"],x["p2card3"],x["p2card4"],x["p2card5"],x["p2card6"],x["p2card7"],x["p2card8"]),x["outcome"]), axis=1)

data_decks = pd.DataFrame.from_dict([dict_decks_general]).transpose().reset_index()
data_decks

                                     index     0
0          (8, 34, 37, 52, 69, 88, 92, 97)    30
1         (11, 12, 13, 58, 77, 86, 87, 98)    22
2        (11, 37, 53, 83, 88, 92, 97, 102)   183
3         (19, 22, 25, 32, 54, 76, 87, 98)  1778
4       (28, 38, 43, 46, 50, 81, 102, 103)  1910
...                                    ...   ...
327653     (7, 15, 17, 21, 43, 81, 87, 89)     1
327654    (13, 35, 39, 43, 48, 73, 95, 99)     1
327655   (11, 17, 18, 24, 51, 77, 95, 102)     1
327656      (4, 7, 11, 21, 64, 77, 88, 92)     1
327657     (7, 11, 17, 35, 59, 77, 82, 88)     1

[327658 rows x 2 columns]